body{
    background-color: rgb(195, 253, 191);
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header{
    margin-top: 250px;
    margin-left: 300px;
}
.title{
    font-size: 80px;
    font-weight: 400;
    width: 500px;
    color: rgb(0, 40, 0);
    margin-bottom: 10px;
}

.desc{
    font-size: 30px;
    font-weight: 300;
    width: 600px;
    color: rgb(80, 80, 110);
    margin-top: 0;
    margin-bottom: 10px;
}

.button{
    position: absolute;
    z-index: 100;
    width: 280px;
    height: 100px;
    background-color: black;
    top: 700px;
    left: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: background-color 0.4s, color 0.4s, width 0.4s, height 0.6s;
}
.button:hover{
    background-color: rgb(220, 220, 220);
    color: black;
    width: 300px;
    height: 120px;
}

.main{
    display: flex;
    flex-direction: row;
}

img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-left: 200px;
    margin-top: 260px;
}