body{
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 253, 191);

}

.ref{
    width: 800px;
    height: 800px;
    object-fit: contain;
    margin: 5px;
}


.button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 28px 17px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.4s, color 0.4s, padding 0.5s;
}
.button:hover{
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 32px 22px;
    
}

.top{
    display:flex;
    margin: 10px;
}